* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .login {
      padding: 3rem;
      background: whitesmoke;
      min-height: 100%;
      height: auto;
  }
  
  .login h3 {
      text-align: center;
      margin-bottom: 1rem;
  }
  
  .login-card {    
    max-width: 400px;  
    margin: 0 auto;
  }
  
  .full_control {
      width: 100%;
      margin: 0.5rem auto;
  }