<div class="login">
    <mat-card class="login-card">
      <h3>Ecommerce - Registration</h3>
      <p>
        <mat-form-field appearance="outline" class="full_control">
          <mat-label>Full Name</mat-label>
          <input matInput placeholder="Your Full Name" required />
          <mat-icon matSuffix>supervisor_account</mat-icon>
          <mat-hint>Amar Sharma</mat-hint>
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field appearance="outline" class="full_control">
          <mat-label>Mobile Number</mat-label>
          <input matInput placeholder="Your Mobile Number" required />
          <mat-icon matSuffix>call</mat-icon>
          <mat-hint>9876543210</mat-hint>
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field appearance="outline" class="full_control">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="Your Email Address" required />
          <mat-icon matSuffix>email</mat-icon>
          <mat-hint>youremail@domain.com</mat-hint>
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field appearance="outline" class="full_control">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Your Password" required />
          <mat-icon matSuffix>password</mat-icon>
          <mat-hint>atleast 8 charcter password </mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline" class="full_control">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="Confirm Password" required />
          <mat-icon matSuffix>password</mat-icon>
          <mat-hint>same as above password</mat-hint>
        </mat-form-field>
      </p>


      <mat-card-actions>
        <p>
          <button mat-raised-button color="primary" style="margin-left: 1rem;">
            Sign Up <mat-icon matSuffix>login</mat-icon>
          </button>
          <button routerLink="/login" mat-button color="primary">Already have an account.</button>
        </p>
      </mat-card-actions>
      <mat-card-footer>
          
      </mat-card-footer>
    </mat-card>
  </div>
  