* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login {
    padding: 10rem;
    background: whitesmoke;
    height: 100%;
}

.login h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.login-card {    
  max-width: 400px;  
  margin: 0 auto;
}

.full_control {
    width: 100%;
    margin: 0.5rem auto;
}