* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login {  
  min-height: 100%;
  height: auto;
  display: flex;
  flex-direction: row;  
  align-items: center;    
  flex-wrap: wrap;  
}

.login h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.login-card {
  max-width: 400px;
  margin: 0 auto;    
}

.full_control {
  width: 100%;
  margin: 0.4rem auto;
}

.login img {
  margin-left: 2rem;
}

.form-div {
  width: 50%;
}

.m-t1 {
  margin-top: 1rem;
}

.status-active {
  background-color: #28a745 !important;
  color: white  !important;
} 

.status-deactive {
  background-color: #dc3545  !important;
  color: white  !important;
}

.tableHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alert {
  flex: 1;
  position: relative;
  padding: .75rem .50rem;
  margin-right: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-dismissible {
  padding-right: 4rem;
}

.fade {
  opacity: 0 !important;
} 

.show {
  opacity: 1;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .75rem 1.25rem;
  color: inherit;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

/* Responsive CSS */
@media (max-width: 800px) {
  .login {
    flex-direction: column;
    align-items: center;
  }

  .login img {
    margin: 0;
    width: 100%;
  }

  .form-div {
    width: 100%;
  }
  .alert {
    margin-bottom: 0.75rem;
  }
  .tableHeader {
    flex-direction: column;
  }   
}