* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login {
  padding-top: 3rem;  
  min-height: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

.login h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.login-card {
  max-width: 400px;
  margin: 0 auto;  
}

.full_control {
  width: 100%;
  margin: 0.5rem auto;
}

.login img {
  padding-top: 4.2rem;
}