<!-- Dashboard Header  -->
<mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="openSideNav = !openSideNav"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span style="margin: 0 auto">Dashboard</span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <span class="material-icons"> account_circle </span>
    </button>
  </mat-toolbar>
  <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>

  <!-- Dashboard Side Menu  -->
  <app-side-nav-menu  (menuEvent)="openSideNav = $event" [openSideNav]="openSideNav"></app-side-nav-menu>
  